@import "colors";
@import "fonts";
@import "_mixin_utilities.scss";
@import "_mixin_container.scss";


* {
    font-family: din-condensed, "Hiragino Kaku Gothic ProN", sans-serif;

    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

@import "_header.scss";
@import "_sp_nav.scss";
@import "_post.scss";
@import "_profilecard.scss";
@import "_contents.scss";
@import "_footer.scss";


// Basic Styles for Demo
*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}


body {
    text-align: center;
    background-color: white;
    font-size: 1em;
    font-family: $body-font-family;
    font-weight: 400;
    line-height: 1.5;

    word-wrap: break-word;
      -webkit-hyphens: auto;
         -moz-hyphens: auto;
              hyphens: auto;  
}

img {
    height: auto;
    max-width: 100%;
}

a {
    //color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}




