{% load static %}
<div class="site__wrapper">
    <div class="site__info">
        <h1>Blogs</h1>
    </div>
    <div class="grid">
        <div class="card">
            <div class="card__image">
            <img src="{% static 'images/chainsaw-man.jpg' %}" alt="">

            <div class="card__overlay card__overlay--indigo">
                <div class="card__overlay-content">
                <ul class="card__meta">
                    <li><a href="#0"><i class="fa fa-tag"></i> Illustrator / Clip Studio</a></li>
                    <li><a href="#0"><i class="far fa-clock"></i> 2 min ago</a></li>
                </ul>

                <a href="#0" class="card__title">100+ Graffiti Gallery Ideas</a>

                <ul class="card__meta card__meta--last">
                    <li><a href="#0"><i class="fa fa-user"></i> yuyaarai</a></li>
                    <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="card">
            <div class="card__image">
            <img src="{% static 'images/keyboard.jpg' %}" alt="">

            <div class="card__overlay card__overlay--blue">
                <div class="card__overlay-content">
                <ul class="card__meta">
                    <li><a href="#0"><i class="fa fa-tag"></i> UI/UX</a></li>
                    <li><a href="#0"><i class="far fa-clock"></i>2 days ago</a></li>
                </ul>

                <a href="#0" class="card__title">Affiliation, Experience &amp;  Skills</a>

                <ul class="card__meta card__meta--last">
                    <li><a href="#0"><i class="fa fa-user"></i> Yuyaarai</a></li>
                    <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="card">
            <div class="card__image">
            <img src="{% static 'images/koiya.jpg' %}" alt="">

            <div class="card__overlay card__overlay--indigo">
                <div class="card__overlay-content">
                <ul class="card__meta">
                    <li><a href="#0"><i class="fa fa-tag"></i> Matsuri / Yosakoi</a></li>
                    <li><a href="#0"><i class="far fa-clock"></i> 2 days ago</a></li>
                </ul>

                <a href="#0" class="card__title">Sustainable Cultural Activities &amp; Contributions to the Community</a>

                <ul class="card__meta card__meta--last">
                    <li><a href="#0"><i class="fa fa-user"></i> yuyaarai</a></li>
                    <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                </ul>    
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="card">
            <div class="card__image">
            <img src="{% static 'images/study.jpg' %}" alt="">

            <div class="card__overlay card__overlay--indigo">
                <div class="card__overlay-content">
                <ul class="card__meta">
                    <li><a href="#0"><i class="fa fa-tag"></i> Study / Graffiti / Memo</a></li>
                    <li><a href="#0"><i class="far fa-clock"></i> 2 days ago</a></li>
                </ul>

                <a href="#0" class="card__title">Hobby, Graffiti &amp; Memo</a>

                <ul class="card__meta card__meta--last">
                    <li><a href="#0"><i class="fa fa-user"></i> yuyaarai</a></li>
                    <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                </ul>   
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="card">
            <div class="card__image">
            <img src="{% static 'images/memories.jpg' %}" alt="">

            <div class="card__overlay card__overlay--blue">
                <div class="card__overlay-content">
                <ul class="card__meta">
                    <li><a href="#0"><i class="fa fa-tag"></i> Albums / Memories</a></li>
                    <li><a href="#0"><i class="far fa-clock"></i> 2 days ago</a></li>
                </ul>

                <a href="#0" class="card__title">Friends &amp; Memories</a>

                <ul class="card__meta card__meta--last">
                    <li><a href="#0"><i class="fa fa-user"></i> yuyaarai</a></li>
                    <li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>
                </ul>   
                </div>
            </div>
            </div>
        </div>
    </div>    

    <div class="site__info">
        <p>Placeholder images are served from <a target="_blank" href="https://www.instagram.com/sgt.araiy/">www.ryecnnel.com</a></p>
        <p>Handcrafted by <a target="_blank" href="https://github.com/ryecnnel">Yuya Arai</a>. Tweet me on <a target="_blank" href="https://twitter.com/Y7svP">Twitter</a></p>
    </div>
</div><!-- @end site__wrapper -->