{% load static %}
<header>

<div class="header_title" >
<img src="{% static 'logo/ryec-en-logo.svg' %}" >

</div>
<div class="header_nav_bar">
    <ul class="nav_bar_list">
        <li class="home"><a class="btn" href="/">Home</a></li>
        <li class="about"><a class="btn" href="/about/">About</a></li>
        <li class="blog"><a class="btn" href="/index/">Blog</a></li>
        <li class="contact"><a class="btn" href="/contact/">Contact</a></li>
    </ul>
</div>
<nav class="sp_nav">
    <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="about"><a href="/about/">About</a></li>
        <li class="blog"><a href="/index/">Blog</a></li>
        <li class="contact"><a href="/contact/">Contact</a></li>
        <li class="close"><span>Close</span></li>
    </ul>
</nav>

<div id="hamburger">
    <span></span>
</div>

</header>